@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f8fafc;
    color: #0f172a;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
}

.navbar h1 {
    font-size: 25px;
}

.navbar-left a,
.navbar-left a:hover,
.navbar-left a:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.navbar-right {
    display: flex;
    gap: 25px;
    align-items: center;
}

.logout-link {
    background-color: #fff;
    color: #2563eb;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border: 0;
}

.logout-link:hover {
    cursor: pointer;
    color: #1E40AF;
}

/* CONTAINER */
.container {
    padding: 40px;
}

/* BUTTONS */
.btn-primary {
    background-color: #2563eb;
    color: #ffffff;
    padding: 12px 18px;
    border-radius: 8px;
    border: 0;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: #1d4ed8;
}

.btn-secondary {
    background-color: #e5e7eb;
    color: #0f172a;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.btn-secondary:hover {
    background-color: #d1d5db; /* slightly darker gray */
    cursor: pointer;
}

/* BACK LINK */
.back-link {
    display: inline-block;
    margin-bottom: 24px;
    color: #2563eb;
    font-weight: 500;
    text-decoration: none;
}

.back-link:hover {
    cursor: pointer;
    color: #1d4ed8;
}
