@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f8fafc;
    color: #0f172a;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
}

.navbar h1 {
    font-size: 25px;
}

.navbar-right {
    display: flex;
    gap: 25px;
    align-items: center;
}

.logout-link {
    color: #2563eb;
    text-decoration: none;
    font-weight: 500;
}

.logout-link:hover {
    cursor: pointer;
    color: #1E40AF;
}

/* PAGE */
.container {
    padding: 40px;
}

/* HEADER */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.page-header h2 {
    font-size: 24px;
    margin-bottom: 4px;
}

.page-header p {
    color: #64748b;
}

/* BUTTON */
.btn-primary {
    background-color: #2563eb;
    color: #ffffff;
    padding: 12px 18px;
    border-radius: 8px;
    border: 0;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: #1d4ed8;
}

/* NOTES GRID */
.notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 16px;
}

/* NOTE CARD */
.note-card {
    background-color: #ffffff;
    min-height: 200px;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.note-card:hover {
   box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

.note-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.note-content {
    color: #475569;
    line-height: 1.5;
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;      /* number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* FOOTER */
.note-card hr {
    border: none;
    border-top: 1px solid #e5e7eb;
    margin: 16px 0;
}

.note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #64748b;
}

.actions {
    display: flex;
    gap: 12px;
}

.actions .edit {
    color: #2563eb;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.actions .edit:hover {
    cursor: pointer;
    background-color: #EFF6FF;
}

.actions .delete {
    color: #dc2626;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.actions .delete:hover {
    cursor: pointer;
    background-color: #FEF2F2;
}

/* ======== ADD-NOTES PAGE ======== */
/* BACK LINK */
.back-link {
    color: #2563eb;
    text-decoration: none;
    font-weight: 500;
}

.back-link:hover {
    color: #1E40AF;
}

/* FORM WRAPPER */
.form-wrapper {
    max-width: 900px;
    margin: 5px auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 14px;
    border: 1px solid #e5e7eb;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.08);
}

.form-title {
    font-size: 26px;
    margin-bottom: 30px;
}

/* FORM GROUP */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.form-group label {
    font-weight: 600;
    color: #0f172a;
}

/* INPUTS */
.form-group input,
.form-group textarea {
    padding: 14px 16px;
    border-radius: 10px;
    border: 1px solid #cbd5e1;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #2563eb;
}

/* ACTION BUTTONS */
.form-actions {
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

.btn-secondary {
    background-color: #e2e8f0;
    color: #0f172a;
    padding: 12px 24px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.btn-secondary:hover {
    background-color: #cbd5e1;
    cursor: pointer;
}