/* PAGE HEADER */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.page-header h2 {
    font-size: 24px;
    margin-bottom: 4px;
}

.page-header p {
    color: #64748b;
}

/* NOTES GRID */
.notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 16px;
}

/* NOTE CARD */
.note-card {
    background-color: #ffffff;
    min-height: 160px;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.note-card:hover {
   box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

.note-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.note-content {
    color: #475569;
    line-height: 1.5;
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;      /* number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* FOOTER */
.note-card hr {
    border: none;
    border-top: 1px solid #e5e7eb;
    margin: 16px 0;
}

.note-footer {
    font-size: 14px;
    color: #64748b;
}

.note-card-link,
.note-card-link:hover,
.note-card-link:focus {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}