/* SINGLE NOTE CARD */
.single-note-card {
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 14px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.08);
}

/* HEADER */
.single-note-header {
    padding: 28px 32px;
    background-color: #F4F8FD;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom: 1px solid #e5e7eb;
}

.single-note-header h2 {
    font-size: 26px;
    margin-bottom: 8px;
}

.note-date {
    color: #64748b;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* CONTENT */
.single-note-content {
    padding: 30px 36px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    max-height: 60vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}


/* ACTIONS */
.single-note-actions {
    padding: 24px 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    background-color: #f8fafc;
    border-top: 1px solid #e5e7eb;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

/* EDIT BUTTON */
.btn-edit {
    background-color: #e0e7ff;
    color: #2563eb;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

/* DELETE BUTTON */
.btn-delete {
    background-color: #fee2e2;
    color: #dc2626;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.btn-edit:hover {
    background-color: #2563eb;
    color: #ffffff;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #dc2626;
    color: #ffffff;
    cursor: pointer;
}
